*.json
*.exe
.vscode/tasks.json
.vs/GDPROG3MCO1/FileContentIndex/79f446f4-62a6-4330-a626-48b9402a4b96.vsidx
.vs/GDPROG3MCO1/FileContentIndex/read.lock
.vs/GDPROG3MCO1/v17/.suo
.vs/GDPROG3MCO1/v17/Browse.VC.db
.vs/GDPROG3MCO1/v17/Browse.VC.db-shm
.vs/GDPROG3MCO1/v17/Browse.VC.db-wal
.vs/GDPROG3MCO1/v17/Browse.VC.opendb
.vs/GDPROG3MCO1/v17/ipch/AutoPCH/3b630baaabbb2fe0/CONSOLEIO.ipch
.vs/GDPROG3MCO1/v17/ipch/AutoPCH/4b3acd031b84c4d5/GDPROG3MCO1.ipch
x64/Debug/ConsoleIO.obj
x64/Debug/GDPROG3MCO1.exe.recipe
x64/Debug/GDPROG3MCO1.ilk
x64/Debug/GDPROG3MCO1.log
x64/Debug/GDPROG3MCO1.obj
x64/Debug/GDPROG3MCO1.pdb
x64/Debug/GDPROG3MCO1.tlog/CL.command.1.tlog
x64/Debug/GDPROG3MCO1.tlog/CL.read.1.tlog
x64/Debug/GDPROG3MCO1.tlog/CL.write.1.tlog
x64/Debug/GDPROG3MCO1.tlog/GDPROG3MCO1.lastbuildstate
x64/Debug/GDPROG3MCO1.tlog/link.command.1.tlog
x64/Debug/GDPROG3MCO1.tlog/link.read.1.tlog
x64/Debug/GDPROG3MCO1.tlog/link.write.1.tlog
x64/Debug/GDPROG3MCO1.vcxproj.FileListAbsolute.txt
x64/Debug/Human.obj
x64/Debug/Player.obj
x64/Debug/Scene.obj
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
